<!DOCTYPE html>
<html>
  <head>
	<title>Hotel Map</title>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no">
	<meta charset="utf-8">
	<style>
		html, body {
			height: 100%;
			width: 100%;
			margin: 0px;
			padding: 0px;
			font-family: Arial
		}
		
		#map-canvas {
			float: left;
			height: 600px;
			width: 700px;
			margin: 0px;
			padding: 0px
		}
		
		#hotel-info {
			display: none;
			margin-left: 750px
		}
	  
	   .labels {
			color: white;
			background-color: #F34C44;
			font-family: "Lucida Grande", "Arial", sans-serif;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			width: 45px;     
			border: 3px solid #F34C44;
			white-space: nowrap;
		}
		
	   .clickedLabels {
			color: white;
			background-color: #36A345;
			font-family: "Lucida Grande", "Arial", sans-serif;
			font-size: 12px;
			font-weight: bold;
			text-align: center;
			width: 45px;     
			border: 3px solid #36A345;
			white-space: nowrap;
		}
	</style>
	<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
	<script src="/static/js/markerwithlabel.js" type="text/javascript"></script>
	<script>
var map;
var infowindow;

//console.log(JSON.parse({{hotels_data|safe}}));
var results = {{hotels_data|safe}};
console.log(results);

/*
var results = {
  "MatchingHotelCount": "14",
  "HotelCount": "3",
  "HotelInfoList": {
    "HotelInfo": [
      {
        "HotelID": "11039628",
        "Name": "LikeAHotel - Le Chambord",
        "Location": {
          "StreetAddress": "4462 Chambord",
          "City": "Montreal",
          "Province": "QC",
          "Country": "CAN",
          "GeoLocation": {
            "Latitude": "45.529663",
            "Longitude": "-73.577213"
          }
        },
        "Description": "Located in Plateau Mont Royal, this apartment is within 2 mi (3 km) of Lafontaine Park, University of Quebec-Montreal, and Percival Molson Memorial Stadium. Notre Dame Basilica and Bonsecours Market are also within 3 mi (5 km).",
        "FeaturedOffer": {
          "Price": {
            "BaseRate": {
              "Value": "175.95",
              "Currency": "USD"
            },
            "TaxRcAndFees": {
              "Value": "49.65",
              "Currency": "USD"
            },
            "TotalRate": {
              "Value": "225.60",
              "Currency": "USD"
            }
          },
          "CheckInDate": "2015-05-25",
          "LengthOfStay": "3",
          "DetailsUrl": "http://www.expedia.com/go/hotel/info/11039628/2015-05-25/2015-05-28?NumRooms=1&NumAdult-Room1=2&eapid=0&langid=1033"
        },
        "DetailsUrl": "http://www.expedia.com/go/hotel/info/11039628/0/0?eapid=0&langid=1033",
        "StarRating": "4.0",
        "ThumbnailUrl": "http://media.expedia.com/hotels/12000000/11040000/11039700/11039628/11039628_1_t.jpg",
        "GuestReviewCount": "0"
      },
      {
        "HotelID": "9561135",
        "Name": "MTLVacationRentals - The Penthouse",
        "Location": {
          "StreetAddress": "1219 Avenue du Mont-Royal Est",
          "City": "Montreal",
          "Province": "QC",
          "Country": "CAN",
          "GeoLocation": {
            "Latitude": "45.529031",
            "Longitude": "-73.578262"
          }
        },
        "Description": "Located in Plateau Mont Royal, this apartment is within 2 mi (3 km) of Lafontaine Park, University of Quebec-Montreal, and Percival Molson Memorial Stadium. Notre Dame Basilica and Bonsecours Market are also within 3 mi (5 km). ",
        "FeaturedOffer": {
          "Price": {
            "BaseRate": {
              "Value": "219.00",
              "Currency": "USD"
            },
            "TaxRcAndFees": {
              "Value": "41.61",
              "Currency": "USD"
            },
            "TotalRate": {
              "Value": "260.61",
              "Currency": "USD"
            }
          },
          "CheckInDate": "2015-05-25",
          "LengthOfStay": "3",
          "DetailsUrl": "http://www.expedia.com/go/hotel/info/9561135/2015-05-25/2015-05-28?NumRooms=1&NumAdult-Room1=2&eapid=0&langid=1033"
        },
        "DetailsUrl": "http://www.expedia.com/go/hotel/info/9561135/0/0?eapid=0&langid=1033",
        "StarRating": "4.0",
        "ThumbnailUrl": "http://media.expedia.com/hotels/10000000/9570000/9561200/9561135/9561135_17_t.jpg",
        "GuestReviewCount": "0"
      },
      {
        "HotelID": "9646104",
        "Name": "LikeAHotel - Le Mont-Royal",
        "Location": {
          "StreetAddress": "1304, avenue Mont-Royal",
          "City": "Montreal",
          "Province": "QC",
          "Country": "CAN",
          "GeoLocation": {
            "Latitude": "45.529873",
            "Longitude": "-73.577473"
          }
        },
        "Description": "Located in Plateau Mont Royal, this apartment is within 2 mi (3 km) of Lafontaine Park, University of Quebec-Montreal, and Percival Molson Memorial Stadium. Notre Dame Basilica and Bonsecours Market are also within 3 mi (5 km). ",
        "FeaturedOffer": {
          "Price": {
            "BaseRate": {
              "Value": "58.87",
              "Currency": "USD"
            },
            "TaxRcAndFees": {
              "Value": "17.67",
              "Currency": "USD"
            },
            "TotalRate": {
              "Value": "76.54",
              "Currency": "USD"
            }
          },
          "CheckInDate": "2015-05-25",
          "LengthOfStay": "3",
          "DetailsUrl": "http://www.expedia.com/go/hotel/info/9646104/2015-05-25/2015-05-28?NumRooms=1&NumAdult-Room1=2&eapid=0&langid=1033"
        },
        "DetailsUrl": "http://www.expedia.com/go/hotel/info/9646104/0/0?eapid=0&langid=1033",
        "StarRating": "3.5",
        "ThumbnailUrl": "http://media.expedia.com/hotels/10000000/9650000/9646200/9646104/9646104_31_t.jpg",
        "GuestRating": "4.8",
        "GuestReviewCount": "4"
      }
    ]
  }
}
*/
var markers = new Array();
var clickedMarker = -1;

var redMarkerURL = "http://imgur.com/6eGus1F.png";
var greenMarkerURL = "http://imgur.com/QNFKk2p.png";

function initialize() 
{
	map = new google.maps.Map(document.getElementById('map-canvas'));
	
	var bounds = new google.maps.LatLngBounds();
	for(var i = 0; i < results.HotelInfoList.HotelInfo.length; i++) 
	{
		var pos = new google.maps.LatLng(results.HotelInfoList.HotelInfo[i].Location.GeoLocation.Latitude, 
			results.HotelInfoList.HotelInfo[i].Location.GeoLocation.Longitude)
	
		bounds.extend(pos);
	}

	map.fitBounds(bounds);
	
	google.maps.event.addListenerOnce(map, "idle", function() 
	{ 
		map.setZoom(map.getZoom() - 1);
	});
	
	infowindow = new google.maps.InfoWindow();
	
	google.maps.event.addListener(infowindow, 'closeclick', function() 
	{
		document.getElementById("hotel-info").style.display = "none";

		markers[clickedMarker].setOptions({labelClass:"labels", icon:redMarkerURL});
	});
		
	for(var i = 0; i < results.HotelInfoList.HotelInfo.length; i++)
	{
		var pos = new google.maps.LatLng(results.HotelInfoList.HotelInfo[i].Location.GeoLocation.Latitude, 
			results.HotelInfoList.HotelInfo[i].Location.GeoLocation.Longitude)
	
		markers.push(new MarkerWithLabel({
		position: pos,
		draggable: false,
		map: map,
		icon: redMarkerURL,
		labelContent: '$' + results.HotelInfoList.HotelInfo[i].FeaturedOffer.Price.TotalRate.Value,
		labelAnchor: new google.maps.Point(25, 33),
		labelClass: "labels", // the CSS class for the label
		labelStyle: {opacity: 1}
		}));
		
		setMarkerListener(markers[i], results.HotelInfoList.HotelInfo[i], i);
	}
}

function setMarkerListener(marker, place, i)
{
	google.maps.event.addListener(marker, 'click', function() 
	{
		document.getElementById("hotel-info").style.display = "block";
		
		document.getElementById("hotelimg").src = place.ThumbnailUrl;
		document.getElementById("name").innerHTML = place.Name;
		document.getElementById("address").innerHTML = place.Location.StreetAddress + ', ' + place.Location.City + ', ' + place.Location.Province
			+ ', ' + place.Location.Country;
		document.getElementById("rate").innerHTML = '$' + place.FeaturedOffer.Price.TotalRate.Value + ' ' + place.FeaturedOffer.Price.TotalRate.Currency;
		document.getElementById("rating").innerHTML = place.StarRating;
		document.getElementById("description").innerHTML = place.Description;
		document.getElementById("details").href = place.DetailsUrl;
	
		if(clickedMarker != -1)
			markers[clickedMarker].setOptions({labelClass:"labels", icon:redMarkerURL});
		
		clickedMarker = i;
		marker.setOptions({labelClass:"clickedLabels", icon:greenMarkerURL});
		infowindow.setContent(place.Name);
		/*infowindow.setContent("<h1>" + place.Name + "</h1>" +
			"<div style = \"float: left; height: 100%\"><img src = \"" + place.ThumbnailUrl + "\"></div>" +
			"<div style = \"display:block\"><b>Address:</b> " + place.Location.StreetAddress + ', ' + place.Location.City + ', ' + place.Location.Province + "<br>" +
			"<b>Total rate:</b> " + "$" + place.FeaturedOffer.Price.TotalRate.Value + " " + place.FeaturedOffer.Price.TotalRate.Currency + "<br>" +
			"<b>Star rating:</b> " + place.StarRating + "/5.0<br>" +
			"<b>Description:</b> " + place.Description +
			"<br><br>" +
			"<p style = \"text-align:center\"><a href = \"" + place.DetailsUrl + "\" target=\"_blank\">Click here for more info</a></p></div>");*/
		infowindow.open(map, this);
	});
}

google.maps.event.addDomListener(window, 'load', initialize);

	</script>
	</head>
	<body>
		<div><h1>Hotel Map</h1></div>
		<div id = "map-canvas"></div>
		<div id = "hotel-info">
			<span style = "font-size: 2em" id = "name"></span><br>
			<span id = "address"></span><br><br>
			<div style = "float:left"><img src = "" id = "hotelimg"></div>
			<div style = "margin-left: 75px" id = "description"></div>
			<br>
			<div>
			<b>Total rate:</b> <span id = "rate"></span><br>
			<b>Star rating:</b> <span id = "rating"></span>/5.0<br>
			<br><br>
			<p style = "text-align:center"><a href = "" target="_blank" id = "details">Click here for more info</a></p>
			</div>
		</div>
	</body>
</html>
