<!doctype html>
<html class="no-js">
    <head>
    <meta charset="utf-8">
    <title>Montreal -  Experiences</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <link rel="image_src" href="http://hackathon.expedia.com/sites/all/themes/expedia_apigee/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Airbnb">
    <link rel='stylesheet' type='text/css' href='http://a.travel-assets.com/uitoolkit/2-35/6fce12b6b9ef39b02199b6d18154f18132de8fb5/core/minifiedCss/brands/exp-responsive.css'/>
    
    <link href="../static/a2.css" media="all" rel="stylesheet" type="text/css" />
      <link href="../static/a0.css" media="screen" rel="stylesheet" type="text/css" />


    <link rel="shortcut icon" type="image/x-icon" href="http://hackathon.expedia.com/sites/all/themes/expedia_apigee/favicon.ico">

<!--jQuery References--> 
<script src="http://code.jquery.com/jquery-1.11.1.min.js" type="text/javascript"></script>
<script src="http://code.jquery.com/ui/1.11.0/jquery-ui.min.js" type="text/javascript"></script>

<!--Theme-->
<link href="http://cdn.wijmo.com/themes/aristo/jquery-wijmo.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets CSS-->
<link href="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20151.69.min.css" rel="stylesheet" type="text/css" />

<!--Wijmo Widgets JavaScript-->
<script src="http://cdn.wijmo.com/jquery.wijmo-open.all.3.20151.69.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/jquery.wijmo-pro.all.3.20151.69.min.js" type="text/javascript"></script>
<script src="http://cdn.wijmo.com/interop/wijmo.data.ajax.3.20151.69.js" type="text/javascript"></script>

<script type="text/javascript">

var experience_results = {{location_data|safe}};

$(document).ready(function () {
    var MIN_DATE_DIFF = 2;
    var datepicker_from =  new Date();
    var datepicker_to = new Date(datepicker_from.getTime()+(MIN_DATE_DIFF*24*60*60*1000));

    $("#date_start").wijinputdate(
        {
            showTrigger: true,
            dateFormat: "yyyy-MM-dd",
            minDate: datepicker_from,
            date: datepicker_from
    });
    $("#date_end").wijinputdate(
        {
            showTrigger: true,
            dateFormat: "yyyy-MM-dd",
            minDate: datepicker_from,
            date: datepicker_to

    });

    function load_experience_results() {
      console.log('loading experience results!');
      for (var idx = 0; idx < experience_results.length; idx++) { 
        var experience = experience_results[idx];

        var experienceselector = "";
        switch(experience['categoryname']) {
          case "Food":
            experienceselector = "food-type";
            break;
          case "Entertainment":
            experienceselector = "entertainment-type";
            break;
          case "Nightlife":
            experienceselector = "nightlife-type";
            break;
        } 
        console.log(experienceselector);
        var experience_select = document.getElementById(experienceselector);
        experience_select.options[experience_select.options.length] = new Option(experience['yelptag'], idx);
        console.log(experience);
      }
    }
    load_experience_results();

});
</script>

<style>
    html, body {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px
    }

  </style>
  </head>
  <body class=" en-CA" id="cities_show_page">
  

  <script>
  function getData(){
    var e1 = document.getElementById("food-type");
    var optFood= e1.options[e1.selectedIndex].text;

    var e2 = document.getElementById("entertainment-type");
    var optEnter= e2.options[e2.selectedIndex].text;

    var e3 = document.getElementById("nightlife-type");
    var optNight= e3.options[e3.selectedIndex].text;

    var date_from = $("#date_start").val();
    var date_to = $("#date_end").val();
    var guests = $('#guests').val(); 

    var food_selection = document.getElementById( "food-type" );
    food_selection = food_selection.options[ food_selection.selectedIndex ].value;

    var entertainment_selection = document.getElementById( "entertainment-type" );
    entertainment_selection = entertainment_selection.options[ entertainment_selection.selectedIndex ].value;

    var nightlife_selection = document.getElementById( "nightlife-type" );
    nightlife_selection = nightlife_selection.options[ nightlife_selection.selectedIndex ].value;

    var url = 'HotelMap?' +
      'df=' + date_from + 
      '&dt=' + date_to + 
      '&g=' + guests + 
      '&fll=' + experience_results[food_selection]['lat'] + ',' + experience_results[food_selection]['lon'] + 
      '&ell=' + experience_results[entertainment_selection]['lat'] + ',' + experience_results[entertainment_selection]['lon'] + 
      '&nll=' + experience_results[nightlife_selection]['lat'] + ',' + experience_results[nightlife_selection]['lon'];

    console.log(url);
    alert(url);

    document.location.href = url;

  }
  </script>

    <div class="cities-wrapper">
<div id="sticky_nav" class="navbar navbar-black">
  <div class="navbar-inner clearfix">
      <div id="neighborhood_cart"></div>
      <ul class="nav" id="neighborhood_nav" itemprop="breadcrumb">
          <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb/">
            <a href="/locations" itemprop="url">
              <span itemprop="title">Cities
                <i class="icon icon-chevron-right"></i>
              </span>
            </a>
          </li>
        <li>
          <a href="#"><span>Montreal</span></a>
        </li>
      </ul>
  </div>
</div>
</div>


<div class="city-page page" id="city">

  <div class="city hero img-overlay fullscreen" style="background-image: url('../static/Montreal.jpg');">
      <img alt="montreal picture" class="background" data-height="676" data-width="1300" src="../static/Montreal.jpg" />

    <div class="title overlay" >
      <div class="container" >
        <h1 class="circularbold">Montreal</h1>
        <h2>An entrancing city on an island of extremes, Montreal suits
up politely, shops maniacally, and seeks peace in silence.</h2>
<div>
  Check-in
  <input type="text" id="date_start" />
  Check-out
  <input type="text" id="date_end" />
  Guests
  <select  id="guests" style="margin:10px; width:100px; padding:0px;" >
    {% for guest_val in range(1, 13) %}
      <option value="{{ guest_val }}">{{ guest_val }}</option>
    {% endfor %}
  </select>
</div>

        <a class="btn large" onclick="pageScroll()"> <font color ="#00355f">Choose Your Experience</font></a>

        <script>
        function pageScroll() {
          window.scrollBy(0,500);
        }
        </script>
      </div>
    </div>
  </div>
 </div>

    <div class="featured-neighborhoods section">
      <div class="container">
        <div class="row">
          <div class="span12  center">
            <h2 class="circularbold">
              Featured Experiences
            </h2>
            <p class="lede">Explore Montreal</p>
            <ul class=" neighborhoods">
      <li class=" tile " data-neighborhood-id="2557" data-neighborhood-permalink="akihabara" style="">
        <!--<a href="/locations/tokyo/akihabara">-->
<div class="beveled-media-box img-overlay" style="background-image:url('../static/food.jpg');">
  <div class="center panel-padding">
    <h2>Food</h2>

    <select id="food-type" data-wizard-action="{&quot;cruiseDestination&quot; : &quot;$value1&quot;}" class="" data-select-value="" name="select" data-wizard-owner="destination"> 
    </select> 
    <!--<p>Trendy and Cool</p>-->
  </div>
</div>
<div class="blurb">
    <div class="panel-padding center clearfix neighborhood-tags">
      <div class="neighborhood-tag">european
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">lively
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">where cool kids hang out
</div>

    </div>
</div>
<div class="sub friends" style="display: none;">
  <ul>
  </ul>
  <p>
  </p>
</div>
<!--</a>-->

      </li>
      <li class=" tile " data-neighborhood-id="2564" data-neighborhood-permalink="shimokitazawa" style="">
        <!--<a href="/locations/tokyo/shimokitazawa">-->
<div class="beveled-media-box img-overlay" style="background-image:url('../static/entertainment.jpg');">
  <div class="center panel-padding">
    <h2>Entertainment</h2>
    <!--<p>Down-to-Earth and Affordable</p>-->
     <select id="entertainment-type" data-wizard-action="{&quot;cruiseDestination&quot; : &quot;$value1&quot;}" class="" data-select-value="" name="select" data-wizard-owner="destination">   
     </select> 
  </div>
</div>
<div class="blurb">
    <div class="panel-padding center clearfix neighborhood-tags">
      <div class="neighborhood-tag">rejunentated
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">famed market
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">trendy restaurants
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">hip
</div>

    </div>
</div>
<div class="sub friends" style="display: none;">
  <ul>
  </ul>
  <p>
  </p>
</div>
<!--</a>-->

      </li>
      <li class=" tile " data-neighborhood-id="2541" data-neighborhood-permalink="tsukiji" style="">
        <!--<a href="/locations/tokyo/tsukiji">-->
<div class="beveled-media-box img-overlay" style="background-image:url('../static/nightlife.jpg');">
  <div class="center panel-padding">
    <h2>Nightlife</h2>
    <!--<p>English speaking and Upscale.</p>-->
     <select id="nightlife-type" data-wizard-action="{&quot;cruiseDestination&quot; : &quot;$value1&quot;}" class="" data-select-value="" name="select" data-wizard-owner="destination"> 
      </select> 
  </div>
</div>
<div class="blurb">
    <div class="panel-padding center clearfix neighborhood-tags">
      <div class="neighborhood-tag">Upperclass
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Extravagant manors
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Quality infrasctructure
</div>


    </div>
</div>
<div class="sub friends" style="display: none;">
  <ul>
  </ul>
  <p>
  </p>
</div>
<!--</a>-->

      </li>
</ul>

            <a  class="btn large center" onclick ="getData()"><font color ="#00355f">Find Hotels</font></a>
          </div>
        </div>
      </div>
    </div>

<!--<div id="map-canvas"></div>-->


<!--
  <div class="neighborhood-list section section-offset">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="circularbold">All Neighbourhoods</h2>
      </div>
    </div>
    <div class="row">
      <a name="all-neighborhoods"></a>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/akihabara">Ahuntsic-Cartierville</a></li>
              <li><a href="/locations/tokyo/aoyama">Anjou</a></li>
              <li><a href="/locations/tokyo/asakusa-ueno">Côte-des-Neiges–Notre-Dame-de-Grâce</a></li>
              <li><a href="/locations/tokyo/bunkyo-district">Lachine</a></li>
              <li><a href="/locations/tokyo/ebisu-daikanyama">LaSalle</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/harajuku">Le Plateau-Mont-Royal</a></li>
              <li><a href="/locations/tokyo/ikebukuro">Le Sud-Ouest</a></li>
              <li><a href="/locations/tokyo/koto-district">L'Île-Bizard–Sainte-Geneviève</a></li>
              <li><a href="/locations/tokyo/meguro-district">Mercier–Hochelaga-Maisonneuve</a></li>
              <li><a href="/locations/tokyo/minato-district">Montréal-Nord</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/roppongi">Outremont</a></li>
              <li><a href="/locations/tokyo/shibuya">Pierrefonds-Roxboro</a></li>
              <li><a href="/locations/tokyo/shibuya-district">Rivière-des-Prairies–Pointe-aux-Trembles</a></li>
              <li><a href="/locations/tokyo/shimokitazawa">Rosemont–La Petite-Patrie</a></li>
              <li><a href="/locations/tokyo/shinagawa-district">Saint-Laurent</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/shinjuku">Saint-Léonard</a></li>
              <li><a href="/locations/tokyo/shinjuku-district">Verdun</a></li>
              <li><a href="/locations/tokyo/sumida-district">Ville-Marie</a></li>
              <li><a href="/locations/tokyo/tsukiji">Villeray–Saint-Michel–Parc-Extension</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
-->
   
    
   

<script>
// load in the data for the locations into the drop downs
// var experience_results = {{location_data|safe}};
// console.log(experience_results);

// for (var idx = 0; idx < experience_results.length; idx++) { 
//   var experience = experience_results[idx];

//   var experienceselector = "";
//   switch(experience['categoryname']) {
//     case "Food":
//       experienceselector = "food-type";
//       break;
//     case "Entertainment":
//       experienceselector = "entertainment-type";
//       break;
//     case "Nightlife":
//       experienceselector = "nightlife-type";
//       break;
//   } 
//   console.log(experienceselector);
//   var experience_select = document.getElementById(experienceselector);
//   experience_select.options[experience_select.options.length] = new Option(experience['yelptag'], idx);

//   console.log(experience);
// } 


// var date_from = '01012015';
// var date_to = '01032015';
// var guests = 5;


</script>

  </body>
</html>
