<!doctype html>
<html class="no-js">
    <head>
    <meta charset="utf-8">
    <title>Montreal -  Experiences</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">



    <link rel="image_src" href="http://hackathon.expedia.com/sites/all/themes/expedia_apigee/favicon.ico">
    <link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="Airbnb">
    <link rel='stylesheet' type='text/css' href='http://a.travel-assets.com/uitoolkit/2-35/6fce12b6b9ef39b02199b6d18154f18132de8fb5/core/minifiedCss/brands/exp-responsive.css'/>
    
    <link href="../static/a2.css" media="all" rel="stylesheet" type="text/css" />
      <link href="../static/a0.css" media="screen" rel="stylesheet" type="text/css" />


    <link rel="shortcut icon" type="image/x-icon" href="http://hackathon.expedia.com/sites/all/themes/expedia_apigee/favicon.ico">

<style>
    html, body {
      height: 100%;
      width: 100%;
      margin: 0px;
      padding: 0px
    }
  </style>
  </head>
  <body class=" en-CA" id="cities_show_page">

    <div class="cities-wrapper">
<div id="sticky_nav" class="navbar navbar-black">
  <div class="navbar-inner clearfix">
      <div id="neighborhood_cart"></div>
      <ul class="nav" id="neighborhood_nav" itemprop="breadcrumb">
          <li itemscope itemtype="http://www.data-vocabulary.org/Breadcrumb/">
            <a href="/locations" itemprop="url">
              <span itemprop="title">Cities
                <i class="icon icon-chevron-right"></i>
              </span>
            </a>
          </li>
        <li>
          <a href="#"><span>Montreal</span></a>
        </li>
      </ul>
  </div>
</div>
</div>


<div class="city-page page" id="city">

  <div class="city hero img-overlay fullscreen" style="background-image: url('../static/Montreal.jpg');">
      <img alt="montreal picture" class="background" data-height="676" data-width="1300" src="../static/Montreal.jpg" />

    <div class="title overlay" >
      <div class="container" >
        <h1 class="circularbold">Montreal</h1>
        <h2>An entrancing city on an island of extremes, Montreal suits
up politely, shops maniacally, and seeks peace in silence.</h2>
        <a class="btn large"> <font color ="#00355f">Choose Your Experience</font></a>
      </div>
    </div>
  </div>
 </div>

    <div class="featured-neighborhoods section">
      <div class="container">
        <div class="row">
          <div class="span12  center">
            <h2 class="circularbold">
              Featured Exeriences
            </h2>
            <p class="lede">Explore Montreal</p>
            <ul class=" neighborhoods">
      <li class=" tile " data-neighborhood-id="2557" data-neighborhood-permalink="akihabara" style="">
        <!--<a href="/locations/tokyo/akihabara">-->
<div class="beveled-media-box img-overlay" style="background-image:url('../static/food.jpg');">
  <div class="center panel-padding">
    <h2>Food</h2>

    <select id="food-type" data-wizard-action="{&quot;cruiseDestination&quot; : &quot;$value1&quot;}" class="" data-select-value="" name="select" data-wizard-owner="destination"> 
<option value=" French "> French  </option>
<option value=" Breakfast & Brunch "> Breakfast & Brunch  </option>
<option value=" Canadian (New) "> Canadian (New)  </option>
<option value=" Burgers "> Burgers  </option>
<option value=" Vegetarian "> Vegetarian  </option>
<option value=" Cocktail Bars "> Cocktail Bars  </option>
<option value=" Coffee & Tea "> Coffee & Tea  </option>
<option value=" Bakeries "> Bakeries  </option>
<option value=" Seafood "> Seafood  </option>
<option value=" Diners "> Diners  </option>
<option value=" Sushi Bars "> Sushi Bars  </option>
<option value=" Barbeque "> Barbeque  </option>
<option value=" Portuguese "> Portuguese  </option>
<option value=" Mediterranean "> Mediterranean  </option>
<option value=" Lebanese "> Lebanese  </option>
<option value=" Cafes "> Cafes  </option>
<option value=" Delis "> Delis  </option>
<option value=" Australian "> Australian  </option>
<option value=" Ethnic Food "> Ethnic Food  </option>
<option value=" Fast Food "> Fast Food  </option>
<option value=" Middle Eastern "> Middle Eastern  </option>
<option value=" Poutineries "> Poutineries  </option>
<option value=" Korean "> Korean  </option>
<option value=" Fish & Chips "> Fish & Chips  </option>
<option value=" Venezuelan "> Venezuelan  </option>

    </select> 
    <!--<p>Trendy and Cool</p>-->
  </div>
</div>
<div class="blurb">
    <div class="panel-padding center clearfix neighborhood-tags">
      <div class="neighborhood-tag">Food Festivals
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Pho Challenge
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Smoked Meat Sandwhiches
</div>

    </div>
</div>
<div class="sub friends" style="display: none;">
  <ul>
  </ul>
  <p>
  </p>
</div>
<!--</a>-->

      </li>
      <li class=" tile " data-neighborhood-id="2564" data-neighborhood-permalink="shimokitazawa" style="">
        <!--<a href="/locations/tokyo/shimokitazawa">-->
<div class="beveled-media-box img-overlay" style="background-image:url('../static/entertainment.jpg');">
  <div class="center panel-padding">
    <h2>Entertainment</h2>
    <!--<p>Down-to-Earth and Affordable</p>-->
     <select id="entertainment-type" data-wizard-action="{&quot;cruiseDestination&quot; : &quot;$value1&quot;}" class="" data-select-value="" name="select" data-wizard-owner="destination">   
<option value=" Bars "> Bars  </option>
<option value=" Music Venues "> Music Venues  </option>
<option value=" Dance Clubs "> Dance Clubs  </option>
<option value=" Performing Arts "> Performing Arts  </option>
<option value=" Jazz & Blues "> Jazz & Blues  </option>
<option value=" Dive Bars "> Dive Bars  </option>
<option value=" Arts & Entertainment "> Arts & Entertainment  </option>
<option value=" Comedy Clubs "> Comedy Clubs  </option>
<option value=" Cinema "> Cinema  </option>
<option value=" Parks "> Parks  </option>
<option value=" Vegan "> Vegan  </option>
<option value=" Musicians "> Musicians  </option>
<option value=" Tapas Bars "> Tapas Bars  </option>
<option value=" Arts & Crafts "> Arts & Crafts  </option>
<option value=" Women's Clothing "> Women's Clothing  </option>
<option value=" Costumes "> Costumes  </option>
<option value=" Accessories "> Accessories  </option>
<option value=" Art Supplies "> Art Supplies  </option>
<option value=" Cards & Stationery "> Cards & Stationery  </option>
<option value=" Art Schools "> Art Schools  </option>
<option value=" Bookstores "> Bookstores  </option>
<option value=" Antiques "> Antiques  </option>
<option value=" Art Galleries "> Art Galleries  </option>
<option value=" Sporting Goods "> Sporting Goods  </option>
       </select> 
  </div>
</div>
<div class="blurb">
    <div class="panel-padding center clearfix neighborhood-tags">
      <div class="neighborhood-tag">Riots
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Shopping in Downtown 
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Comedy clubs
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Casino
</div>

    </div>
</div>
<div class="sub friends" style="display: none;">
  <ul>
  </ul>
  <p>
  </p>
</div>
<!--</a>-->

      </li>
      <li class=" tile " data-neighborhood-id="2541" data-neighborhood-permalink="tsukiji" style="">
        <!--<a href="/locations/tokyo/tsukiji">-->
<div class="beveled-media-box img-overlay" style="background-image:url('../static/nightlife.jpg');">
  <div class="center panel-padding">
    <h2>Nightlife</h2>
    <!--<p>English speaking and Upscale.</p>-->
     <select id="food-type" data-wizard-action="{&quot;cruiseDestination&quot; : &quot;$value1&quot;}" class="" data-select-value="" name="select" data-wizard-owner="destination"> 
<option value=" Pubs "> Pubs  </option>
<option value=" Tapas/Small Plates "> Tapas/Small Plates  </option>
<option value=" Wine Bars "> Wine Bars  </option>
<option value=" Sports Bars "> Sports Bars  </option>
<option value=" Lounges "> Lounges  </option>
<option value=" Mexican "> Mexican  </option>
<option value=" American (Traditional) "> American (Traditional)  </option>
      </select> 
  </div>
</div>
<div class="blurb">
    <div class="panel-padding center clearfix neighborhood-tags">
      <div class="neighborhood-tag">Fun Nightclubs
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Classy Lounges
    <div class="dot"></div>
</div>
<div class="neighborhood-tag">Magical Raves
</div>


    </div>
</div>
<div class="sub friends" style="display: none;">
  <ul>
  </ul>
  <p>
  </p>
</div>
<!--</a>-->

      </li>
</ul>

            <a  id="FindButton" href="HotelMap" class="btn large center" ><font color ="#00355f">Find Hotels</font></a>
          </div>
        </div>
      </div>
    </div>

<!--<div id="map-canvas"></div>-->


<!--
  <div class="neighborhood-list section section-offset">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h2 class="circularbold">All Neighbourhoods</h2>
      </div>
    </div>
    <div class="row">
      <a name="all-neighborhoods"></a>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/akihabara">Ahuntsic-Cartierville</a></li>
              <li><a href="/locations/tokyo/aoyama">Anjou</a></li>
              <li><a href="/locations/tokyo/asakusa-ueno">Côte-des-Neiges–Notre-Dame-de-Grâce</a></li>
              <li><a href="/locations/tokyo/bunkyo-district">Lachine</a></li>
              <li><a href="/locations/tokyo/ebisu-daikanyama">LaSalle</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/harajuku">Le Plateau-Mont-Royal</a></li>
              <li><a href="/locations/tokyo/ikebukuro">Le Sud-Ouest</a></li>
              <li><a href="/locations/tokyo/koto-district">L'Île-Bizard–Sainte-Geneviève</a></li>
              <li><a href="/locations/tokyo/meguro-district">Mercier–Hochelaga-Maisonneuve</a></li>
              <li><a href="/locations/tokyo/minato-district">Montréal-Nord</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/roppongi">Outremont</a></li>
              <li><a href="/locations/tokyo/shibuya">Pierrefonds-Roxboro</a></li>
              <li><a href="/locations/tokyo/shibuya-district">Rivière-des-Prairies–Pointe-aux-Trembles</a></li>
              <li><a href="/locations/tokyo/shimokitazawa">Rosemont–La Petite-Patrie</a></li>
              <li><a href="/locations/tokyo/shinagawa-district">Saint-Laurent</a></li>
          </ul>
        </div>
        <div class="span3">
          <ul>
              <li><a href="/locations/tokyo/shinjuku">Saint-Léonard</a></li>
              <li><a href="/locations/tokyo/shinjuku-district">Verdun</a></li>
              <li><a href="/locations/tokyo/sumida-district">Ville-Marie</a></li>
              <li><a href="/locations/tokyo/tsukiji">Villeray–Saint-Michel–Parc-Extension</a></li>
          </ul>
        </div>
    </div>
  </div>
</div>
-->
   
    
   
  </body>
</html>
